*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: #4a465b; /*Fondo*/
}

.contenedor {
    width: 96%; /*96% de ancho*/
    max-width: 1000px; /*Anchura maxima de 1000px referente al 96%*/
    margin: 20px auto; /*Centrar elemento*/
    overflow: hidden;
}

header{
    background: #fff;
}

header nav{
    width: 100%;
}

header nav ul{
    list-style: none;
    overflow: hidden;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    padding: 15px 20px;
}

header nav ul li a:hover{
    background: #000;
    color: #fff;
}

.main{
    float: left;
    width: 70%;
    background: #fff;
}

.main .imagen{
    width: 100%;
}

.main .imagen img{
    width: 100%;
    /*vert-align: top;*/
}

.main .posts{
    padding: 40px;
}

.main .posts article h2{
    margin-bottom: 20px;
    color: #424242;
}

.main .posts article p{
    margin-bottom: 15px;
    line-height: 27px;
}

aside{
    width: 30%;
    float: left;
    background: #161f26;
    padding: 20px;
    color: #fff;
}

aside .widget{
    margin-bottom: 20px;
}

aside .widget .titulo{
    color: #ff8000;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

aside .widget ul{
    list-style: none;
}

aside .widget ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}

aside .widget ul li a{
    color: #fff;
    text-decoration: none;
}

aside .widget ul li a:hover{
    color: #8f8f8f;
}

aside .widget p{
    line-height: 27px;
}

footer{
    overflow: hidden;
    width: 70%;
    text-align: center;
    background: #000;
    color: #fff;
    padding: 15px 0;
}
